@media (min-width: 576px){
    .container{
        display: grid;
        grid-template-areas: 
        "item1 item1 item1 item1"
        "item2 item2 item2 item2"
        "item3 item3 item4 item4"
        "item5 item5 item5 item5"
        "item6 item6 item8 item8"
        "item7 item7 item8 item8"
        "item9 item9 item9 item9"
        "item10 item10 item10 item10";
    }
    
}
@media (min-width: 992px){
    .container{
        display: grid;
        grid-template-areas: 
        "item2 item2 item1 item1"
        "item3 item5 item5 item8"
        "item4 item7 item7 item8"
        "item6 item9 item10 item10";
    }
}